// Place all the styles related to the LinkRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Sterrenlinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color: #F7F5F0;
  color: #4B424C;
  font-family: "Source Sans Pro", verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  //margin: 33px;
}

.stats {
  width:60%;
  margin: 20px 0px;
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
}

a {
  color: #D65CA9;
}

button {
  background-color: #D65CA9;
  border: none;
  box-shadow: 1px 1px 5px #888888;
  color: #4B424C;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

th {
  border-bottom:1px solid #4B424C;
  text-align: left;
  align-content: left;
}

td {
  padding-bottom: 7px;
  padding-left: 0px;
  padding-right: 5px;
}

#hidden-sterrenlinks {
  color: purple;
  display: none;
}