<h1>Sterrenlinks#index</h1>

<!--the links for a particular link_request; should be no more than one-->
<% @sterrenlinks.each do |link| %>
<p><%= link.id %>: <%= link.output_link %></p>
    link.id
<%#= %>
<%#= %>
<%#= %>
<% end %>
