<h1>Sterrenlinks#index</h1>

<!--the links for a particular link_request; should be no more than one-->
<% @sterrenlinks.each do |link| %>
<p><%= link.id %></p>
<p><%= link.output_link %></p>
    <%#= %>
<%#= %>
<%#= %>
<% end %>
